# Ignore Visual Studio files
.vs/
.vs2019/
.vs2017/
# Ignore build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]Release/
[Dd]ebug*32/
[Dd]ebug*64/
# Ignore User-specific files
*.user
*.userosscache
*.suo
*.userprefs
dotnet-install.sh
packages-microsoft-prod.deb
Tabeekh_ui/tabekh/node_modules/
